*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container {
    display: flex; 
    width: 100%;
    height: 80px;
   
}
.wrap {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 20px;
    width: 100%;
    height: 80px;
    background-color: #222;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0,5);
}
.brand {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    padding: 15px;
    text-transform: capitalize;

}
.firstname {
    color: white;
    font-weight: 700;
}
.lastname {
    color: orange;
    font-weight: 400;
    padding-left: 4px;
}
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation>li {
    list-style-type: none;
    padding: 15px;
    
}
.navigation>li>a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
}
.navigation>li>a:hover {
    color: orange;
    transition: all. 3s ease-in-out;

}
.navigation>li>img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.navigation>li>img>:hover {
    width: 65px;
    height: 65px;
    border-radius: 65px;
    transition: all .3s ease-in-out;
}
.active {
    background-color: orange;
    color: white;
    padding: 15px;
}
.active:hover {
    color: white !important;
}
 .contact
 {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(217a00d2ed5781d413ce20f0a10f7376.jpg);
    background-size: cover;
 }
 .contact .content {
    max-width: 800px;
    text-align: center;
 }
 .contact .content h2 {
    font-size: 36px ;
    font-weight: 500;
    color: #fff;
 }
 .contact .content p {
    font-weight: 300;
    color: #fff;
 }
 .kk {
    width: 110%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    left: 5%;
 }
 .kk .contactinfo {
    width: 50%;
    height: 40px;
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    margin-top: 6%;
 }
 .kk .contactinfo .boxi {
    position: relative;
    padding: 10px 0;
    display: flex;
 }

 .kk .contactinfo .boxi .icon {
    min-width: 50px;
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px; 
    left: 5%;

 }
 .icon>li {
    list-style-type: none;
    left: 5%;
 }

 .kk .contactinfo .boxi. text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction:  column;
    font-weight: 300;
    left: 5%;
 }
 .kk .contactinfo .boxi .text h3 {
    font-weight: 500;
    color: #5cb8f6;
 }
 .contactform {
    width: 30%;
    padding: 30px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0,2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0,2);
    right: 90%;
    margin-left: 60%;
    margin-top: 0.50%;
    top: 100%;
 }
 .contactform h2{
    font-size: 30px;
    color: rgb(255, 253, 253);
    font-weight: 500;
 }
 .contactform .inputbox {
position: relative;
width: 90%;
margin-top: 10px;
border-radius: 40px;

 }
 .contactform .inputbox input,
 .contactform .inputbox textarea
{ 
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: 0;
    border-radius: 40px;
  
}
.contactform .inputbox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 15px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span{
    color: rgb(144, 219, 251);
font-size: 12px;
transform: translateY(-30px);
}
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~span{
color: rgb(144, 219, 251);
font-size: 12px;
transform: translateY(-30px);
top: 20;
pointer-events: none;

}
.contactform .inputbox input[type="submit"]{
    width: 100px;
    background-color: #00bcb0;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

